{% extends 'main.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

<link href="{% static 'css/detail.css' %}" rel="stylesheet">

<div class="container contact-form article-comment">
    <h4>Password Reset</h4>
    <form id="contact-form" method="POST" action="">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email*" class="form-control">
                </div>
            </div>
            <button class="btn btn-info btn-sm mt-1 mb-1" type="submit">Request password reset</button>
        </div>    
    </form>
</div>

{% endblock content %}