

{% extends 'main.html' %}
{% block content %}
{% if messages %}
    
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} container fade show" role="alert">
      {{message}}
    </div>

    <script>
      // Add the 'show' class to trigger Bootstrap CSS animation
      document.addEventListener('DOMContentLoaded', function() {
        var flashMessage = document.querySelector('.alert.alert-{{ message.tags }}');
        setTimeout(function() {
          // Automatically close the flash message after 5 seconds (5000 milliseconds)
          flashMessage.classList.add('fade');
          flashMessage.classList.remove('show');
          setTimeout(function() {
            // Remove the flash message from the DOM after the fade-out animation
            flashMessage.remove();
          }, 1000); // Adjust this duration based on the Bootstrap fade-out transition duration
        }, 5000); // Adjust this duration to control how long the message is displayed
      });
    </script>

    {% endfor %}
  
    {% endif %}

{% endblock content %}